:root {
   --fuente-principal: 'Poppins', sans-serif;
   --color-primario: #6CCB94;
   --color-secundario: #5D5D5D;
   --color-hover: #48b67c;
   --color-error: #FF534D;
}

body {
   font-family: var(--fuente-principal);
}

body::-webkit-scrollbar {
   display: none;
}
