.principal-container {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 60px 0 80px;
}

.texto {
   width: 40%;
}

.titulo-principal {
   color: var(--color-primario);
   font-size: 90px;
   font-weight: 700;
   margin-bottom: 15px;
}

.titulo-secundario {
   color: var(--color-secundario);
   font-size: 24px;
   font-weight: 300;
   margin-bottom: 45px;
   padding-right: 100px;
}

.boton {
   background-color: var(--color-primario);
   color: white;
   border: none;
   padding: 10px 20px;
   font-size: 24px;
   text-decoration: none;
}

.boton:hover {
   background-color: var(--color-hover);
}

.img-principal {
   width: 500px;
}
